@media screen and (max-width: 768px)
{
    #main
    {
        height: 2000px;
    }
    .btn-default
    {
        background-color: white;
    }
    #background
    {
        background-image: url("../img/logo_responsive.svg");
    }
    #background h1
    {
        padding-top: 250px;
        color: black;
    }
    #about h2
    {
        border-top: 1px solid gray;
    }   
    #footer_logo
    {
        /* display: none; */
        margin-right: 1px;
    }
}